---
title: Optima Football
seo_title: Optima Football - Building Sustainable Club Strategies
excerpt: >-
  Strategic Planning and Coaching for professional football clubs. We bring your
  strategies to life.
header:
  overlay_image: /assets/images/mads-davidsen-frontpage.jpg
intro:
  - excerpt: >
      ## From the board room to the training ground

      Optima Football Consulting is a company helping professional football
      clubs develop in a sustainable way with strategic planning. Read more
      about [our why](/our-why/).


      Follow us on &nbsp; [<i class="fab fa-linkedin"></i>
      Linkedin](https://www.linkedin.com/in/mads-davidsen-9007545/){: .btn
      .btn--linkedin } og [<i class="fab fa-twitter"></i>
      Twitter](https://twitter.com/MadsReDavidsen){: .btn .btn--twitter }
book:
  - alt: How hard can it be?
    btn_class: btn--info
    btn_label: Buy at Amazon
    excerpt: >-
      Most football fans have probably asked themselves this question (How hard
      can it be?) when they watch their team lose several games in a row, or
      when the club pays an excessive price for an ageing attacker, or when the
      club hands in another bleeding annual report.


      The answer is that it is extremely hard to run a football club. Football
      is complex, relational and brutally competitive on the field. And outside
      the field it is even more complicated. Unfortunately, many decision makers
      in football are emotionally biased by a range of stressors that challenge
      their sense of rationale and time.


      The logic consequence is that they over estimate in the short run and
      under-analyze in the long haul. A football strategic book to inspire the
      industry.
    image_path: 'https://m.media-amazon.com/images/P/B09F2WPKPY.01._SCLZZZZZZZ_SX500_.jpg'
    title: How hard can it be?
    url: >-
      https://www.amazon.com/How-Hard-Can-Mads-Davidsen-ebook/dp/B09F2WPKPY/ref=sr_1_9?keywords=how+hard+can+it+be%3F&qid=1670882377&sr=8-9
feature_row:
  - alt: Club Advisory
    btn_class: btn--info
    btn_label: Club advisory
    excerpt: >-
      Bringing the club strategy all the way from the offices to the training
      pitch is a difficult step. The way many football clubs are run today is
      very unsustainable.
    image_path: >-
      https://www.optimafootball.com/____impro/1/onewebmedia/Mads_Consulting.jpg?etag=%22fd48-5c23e6c4%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=360%2B300&extract=0%2B0%2B360%2B268&quality=85
    title: Club Advisory
    url: /home/consulting.html
  - alt: How Hard Can It Be?
    btn_class: btn--info
    btn_label: Buy the book
    excerpt: >-
      It is extremely hard to run a football club. Football
      is complex, relational and brutally competitive on the field. What can you do?
      A football strategic book to inspire the industry.
    image_path: >-
    https://m.media-amazon.com/images/P/B09F2WPKPY.01._SCLZZZZZZZ_SX500_.jpg
    title: How Hard Can It Be?
    url: https://www.amazon.com/How-Hard-Can-Mads-Davidsen-ebook/dp/B09F2WPKPY/ref=sr_1_9?keywords=how+hard+can+it+be%3F&qid=1670882377&sr=8-9
  - alt: Keynote Speaker
    btn_class: btn--info
    btn_label: Keynote Speaker
    excerpt: >-
      Mads Davidsen has in the past decade done presentations for companies,
      clubs, organisations and universities.
    image_path: >-
      https://www.optimafootball.com/____impro/1/onewebmedia/Mads_Speak.jpg?etag=%22fdfc-5c23e445%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=360%2B300&extract=0%2B0%2B360%2B268&quality=85
    title: Keynote Speaker
    url: /book/
layout: splash
blog:
  - excerpt: '[Read our blog](/blog/){: .btn .btn--large .btn--success }'
media:
  - excerpt: >-
      [Read all our media mentions](/blog-tags/media){: .btn .btn--large
      .btn--success }
---

{% include feature_row id="intro" type="center" %}

<blockquote>
  <p>We are finishing our club playbook and have implemented a lot of the ideas, Optima Football suggested us. Even critical people in our club starts to think different now. Thank you for your big inspiration and ideas.</p>
  <cite>Central European-based club</cite>
</blockquote>

{% include feature_row id="feature_row" %}

<blockquote>
  <p>Mads was one of the key factors to our club's growth and success from 2014-2018 from being a small local club to an internationally known club able to win titles - and competing in the Asian Champions League while playing with a majority of
home grown players. Mads worked intensively every day on improving our club from the first team to the academy and developed our club strategy 'The SIPG Way' which still is the foundation for our club.</p>
  <cite>Sui Guiyang, General Manager at Shanghai SIPG F.C. 2014-2018</cite>
</blockquote>

{% include feature_row id="book" type="right" %}

<h2>News and press</h2>

<p>In this section you'll find links to selected articles and news about Optima Football.</p>

<div class="feature__wrapper">

{% assign site_posts = site.posts | where: "category", "Media" | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:8 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="media" type="center" %}

<h2>New posts on the blog</h2>

<p>A personal space sharing thoughts, opinions & news from the founder.</p>

<div class="feature__wrapper">

{% assign site_posts = site.posts | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:8 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row id="blog" type="center" %}
